aiodns
aiohttp
apscheduler
asyncpg
beautifulsoup4
cchardet
dash
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
html5lib
matplotlib
networkx
numpy==1.19.3
pandas
scipy
tornado

